<todo-item
        v-for="groceryList"
        v-bind:todo="item"
        v-bind:key3="item.id"
        v-on:key5="Panic"
        @key4="item.id"
        .key2="item.id"
        :key="item.id"
        v-bind:[key1]="item.id"
        v-focus
>
    sss
    {{}}
    {{}}
    {{}}

    <cd
            v-for="k in groceryList()"
            v-model="todo"
            @key="click(k)"
            @click="onClick"
            :key="key.id"
            @key2="mk=key.id+$event"
            class="a b c"
            data-hello="hello"
            v-focus
            v-if="a>1 && b==2 && key['sss']+1>0"
    >
    </cd>

    <li></li>
    <input/>

    <p data-click-sss=name>0?world:"hello"</p>
    <p data-click-sss=name>0?world:"hello"</p>
    <p data-click-sss=name>{{0>0?world:"hello"}}</p>
    <p data-click-sss=name>{{0>0?world:"hello"}}</p>
</todo-item>
