<p>{{0==0?"world":"hello"}}</p>

<ul id="example-1">
    <li v-for="item in items">
        {{ item.message }}
    </li>
    <li v-for="item, index in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
    <div v-for="value, name in object">
        {{ index }}. {{ name }}: {{ value }}
    </div>
    <div v-for="item in items" v-bind:key="item.id">
        <!-- 内容 -->
    </div>
    <li v-for="n in evenNumbers">{{ n }}</li>
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo }}
    </li>
    <ul v-if="todos.length">
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ul>
    <my-component v-for="item in items" :key="item.id"></my-component>
    <my-component
            v-for="item, index in items"
            v-bind:item="item"
            v-bind:index="index"
            v-bind:key="item.id"
    ></my-component>
</ul>
